.saldo{
    width: 250px;
    height: 200px;
    border: rgba(8, 78, 119, 0.534);
    
    border-radius: 20px;
    background: #090979;
    box-shadow:  18px 18px 31px #07075a,
                 -18px -18px 31px #0b0b98;
    
    
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

.saldo p{
    font-size: 20px;
    background: none;
    
}