

.home{
    display: flex;
}

.display{
    margin: 40px 20px;
    width: 550px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
        
}

.barra{
    width: 5px;
    background-color: black;
    height: 120px;
}

.container{
    width: 100%;
    
}

.buttons{
    display: flex;
    align-self: flex-end;
    margin-left: 40px;
}
.btn{
    width: 125px;
    height: 120px;
    border: rgba(8, 78, 119, 0.534);
    border-radius: 10px 0px 0px 10px;
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(5, 0, 92) 9%, rgb(9, 9, 121) 29%, rgb(0, 140, 255) 100%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:rgb(255, 255, 255);
    
    font-size: 40px;
}



.btn:hover{
    background-color: white;
    color: black;
}

.btn_transf, .btn_fatura{
    margin-top: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 9%, rgb(9, 9, 121) 29%, rgb(0, 119, 255) 100%);
    width: 250px;
    box-shadow:  18px 18px 31px #07075a,
                 -18px -18px 31px #0b0b98;
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

