.faturas{
    display: flex;
    
}
.display{

    margin: 85px 10px;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
        

}
.column{
    display: flex;
    flex-direction: column-reverse;
}